button{
    margin-top: 16px;
    height: 36px;
    border-radius: 50px;
    width: 250px;
    border: none;
    background:#00365c;
    color: white;
    font-weight: bold;
    cursor:pointer;
    transition: 0.3s;
}
button:hover{
    background:#0079cf;
    border: 1.5px solid #00365c;
    color: #ffffff;
    }

    @media screen and (max-width: 600px) {
        button{
            height: 40px;
            font-size: 16px;
        }
    }